.container {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    align-content: center;
    padding: 3%;
    text-align: justify;
  }

  .smaller-container {
      justify-content: space-around;
  }